<% content_for :title, "Statusy zamówień" %>
<%= render Ui::Layout::Container::DefaultComponent.new do %>
  <!-- Header -->
  <%= render Ui::Layout::Header::DefaultComponent.new(title: "Zarządzanie statusami") %>
  <!-- Content -->
  <div class="flex flex-col gap-10">
    <!-- Statuses Section -->
    <%= turbo_frame_tag "statuses_frame" do %>
      <%= render partial: "order_statuses/table" %>
    <% end %>
    <!-- Groups Section -->
    <%= turbo_frame_tag "groups_frame" do %>
      <%= render partial: "order_status_groups/table" %>
    <% end %>
  </div>
<% end %>
