<%= turbo_frame_tag dom_id(@address) do %>
  <%= form_with model: @address, url: order_address_path(@address.order, @address), method: :patch, data: { turbo_frame: dom_id(@address) } do |f| %>
    <div class="grid grid-cols-2 gap-2">
      <div>
        <%= f.label :fullname, "Imię i nazwisko", class: "label text-sm" %>
      </div>
      <div>
        <%= f.text_field :fullname, class: "input w-full input-sm" %>
      </div>
      <div>
        <%= f.label :company_name, "Firma", class: "label text-sm" %>
      </div>
      <div>
        <%= f.text_field :company_name, class: "input w-full input-sm" %>
      </div>
      <div>
        <%= f.label :street, "Ulica i numer", class: "label text-sm" %>
      </div>
      <div>
        <%= f.text_field :street, class: "input w-full input-sm" %>
      </div>
      <div>
        <%= f.label :postcode, "Kod pocztowy", class: "label text-sm" %>
      </div>
      <div>
        <%= f.text_field :postcode, class: "input w-full input-sm" %>
      </div>
      <div>
        <%= f.label :city, "Miasto", class: "label text-sm" %>
      </div>
      <div>
        <%= f.text_field :city, class: "input w-full input-sm" %>
      </div>
      <div>
        <%= f.label :country, "Kraj", class: "label text-sm" %>
      </div>
      <div>
        <%= f.text_field :country, class: "input w-full input-sm" %>
      </div>
    </div>
    <div class="flex items-center justify-end gap-2 mt-4">
      <%= f.submit "Zapisz", class: "btn btn-primary btn-sm" %>
      <%= link_to "Anuluj", order_path(@address.order), data: { turbo_frame: dom_id(@address) }, class: "btn btn-sm" %>
    </div>
  <% end %>
<% end %>
