<%# Table Section %>
<div class="overflow-x-auto w-full">
  <table class="table table-zebra w-full">
    <thead>
      <tr class="text-xs">
        <th class="font-semibold">Numer</th>
        <th class="font-semibold">Imię Nazwisko</th>
        <th class="font-semibold">Przedmioty</th>
        <th class="font-semibold">Kwota</th>
        <th class="font-semibold">Informacje dodatkowe</th>
        <th class="font-semibold flex flex-col">
          <span>Data złożenia</span>
          <span class="text-[10px] text-blue-800 font-medium">Data modyfikacji</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% if @orders.present? %>
        <% @orders.each do |order| %>
          <%= render partial: "orders/row", locals: { order: order } %>
        <% end %>
      <% else %>
        <tr class="my-14">
          <td colspan="6" class="text-gray-400 text-center pt-18">
            Brak zamówień do wyświetlenia.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%# Pagination Section %>
<div class="px-2 py-4">
  <div class="mt-4 flex flex-col gap-3 justify-between">
    <%# Left side - Items count and per page selector %>
    <div class="flex items-center gap-4">
      <div class="text-sm text-gray-700">
        <%# Items count %>
        Pokazuję 
        <span class="font-medium"><%= @orders.offset_value + 1 %></span>-<span class="font-medium"><%= @orders.offset_value + @orders.length %></span> z 
        <span class="font-medium"><%= @orders.total_count %></span> pozycji
        <%# Per page selector %>
        <div class="dropdown dropdown-top ml-2">
          <button tabindex="0" class="btn btn-ghost btn-xs">
            <%= @per_page %>
            <%= lucide_icon("chevron-down", class: "h-4 w-4") %>
          </button>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-16">
            <% [20, 30, 50, 75, 100].each do |per_page| %>
              <li>
                <%= link_to per_page, 
                    orders_path(page: 1, per_page: per_page, status: params[:status]), 
                    class: @per_page == per_page ? 'active' : '',
                    data: { turbo_frame: "orders_frame" } %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex items-center space-x-2">
      <%# Previous page button %>
      <%= link_to orders_path(page: @orders.prev_page, status: params[:status], per_page: @per_page), 
          class: "inline-flex items-center px-3 py-2 border border-gray-300 text-sm font-medium rounded-md #{@orders.prev_page ? 'text-gray-700 bg-white hover:bg-gray-50' : 'text-gray-400 bg-gray-50 cursor-not-allowed'}", 
          data: { turbo_frame: "orders_frame" },
          onclick: @orders.prev_page ? nil : "return false" do %>
        <%= lucide_icon("chevron-left", class: "h-5 w-5") %>
      <% end %>
      <%# Next page button %>
      <%= link_to orders_path(page: @orders.next_page, status: params[:status], per_page: @per_page), 
          class: "inline-flex items-center px-3 py-2 border border-gray-300 text-sm font-medium rounded-md #{@orders.next_page ? 'text-gray-700 bg-white hover:bg-gray-50' : 'text-gray-400 bg-gray-50 cursor-not-allowed'}", 
          data: { turbo_frame: "orders_frame" },
          onclick: @orders.next_page ? nil : "return false" do %>
        <%= lucide_icon("chevron-right", class: "h-5 w-5") %>
      <% end %>
    </div>
  </div>
</div>
