<% content_for :title, "Zamówienia" %>
<!-- Sidebar and Content -->
<%= render Ui::Layout::Container::DefaultComponent.new do %>
  <div class="flex gap-4">
    <!-- Sidebar -->
    <div class="w-50">
      <div class="fixed flex flex-col gap-4 items-center w-50">
        <%= button_to orders_path, method: :post, remote: true, class: "btn btn-primary btn-sm gap-2 w-44" do %>
          <i class="fas fa-plus text-xs"></i>
          Nowe zamówienie
        <% end %>
        <%= render "status_sidebar" %>
        <%= link_to order_statuses_path, class: "btn btn-dash btn-sm gap-2 w-fit" do %>
          <i class="fas fa-plus text-xs"></i>
          Dodaj status
        <% end %>
      </div>
    </div>
    <!-- Main Content -->
    <div class="flex-1">
      <div id="orders" class="min-w-full">
        <%= render partial: "orders/table", locals: { orders: @orders } %>
      </div>
    </div>
  </div>
<% end %>