<% content_for :title, "Orders" %>
<div class="w-full flex relative">
  <div class="w-44 h-full fixed flex flex-col items-center py-4 px-1.5 bg-base-200 shadow-md">
    <%= button_to 'Utwórz zamówienie', orders_path, method: :post, remote: true, class: "btn btn-primary text-xs" %>
    <div class="flex flex-col gap-3 mt-4 w-full">
      <%= link_to orders_path(status: "all"), class: "flex gap-1" do %>
        <div class="badge badge-xs"></div>
        <p class="text-xs">Wszystkie</p>
      <% end %>
      <% @order_statuses.each do |order_status| %>
        <%= link_to orders_path(status: order_status.id), class: "flex gap-1" do %>
          <div class="badge badge-primary badge-xs"><%= @order_counts[order_status.id] %></div>
          <p class="text-xs"><%= order_status.full_name %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="ml-48 w-full m-3 rounded-md shadow-md">
    <div class="flex justify-between items-center mb-4">
      <h1 class="font-bold text-xl pt-4 px-4">Zamówienia</h1>
    </div>
    <div id="orders" class="min-w-full divide-y divide-gray-200">
      <%= render partial: "orders/table", locals: { orders: @orders } %>
    </div>
  </div>
</div>
