<% content_for :title, "Showing order" %>
<div class="w-full flex flex-col gap-8 p-4">
  <div class="flex flex-col gap-4">
    <%= render(Order::TopComponent.new(order_id: @order.id)) %>
    <%= render(Order::ProductTableComponent.new(order: @order)) %>
    <%= form_with model: OrderProduct.new do |f| %>
      <%= f.hidden_field :order_id, value: @order.id %>
      <%= f.hidden_field :product_id, value: 7 %>
      <%= f.number_field :quantity, value: 1 %>
      <%= f.submit 'Dodaj do zamówienia' %>
    <% end %>
    <%= render(Order::InfoComponent.new(order: @order)) %>
  </div>
  <div class="grid grid-cols-3 gap-4">
    <%= render(Order::ShippingAddressComponent.new(order: @order, address_type: 0)) %>
  </div>
  <div class="flex gap-2">
    <%= link_to "Edit this order", edit_order_path(@order), class: "btn" %>
    <%= link_to "Back to orders", orders_path, class: "btn" %>
    <%= button_to "Destroy this order", @order, method: :delete, class: "btn btn-error" , data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
