<%# Table Section %>
<div class="bg-base-100 rounded-lg shadow-sm">
  <div class="flex justify-between items-center mb-4 py-4 px-4">
    <h1 class="font-bold text-xl">Produkty</h1>
    <%= link_to "New product", new_storage_product_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>
  <div class="overflow-x-auto w-full">
    <table class="table table-zebra w-full">
      <thead>
        <tr class="text-xs">
          <th class="font-semibold">Nazwa</th>
          <th class="font-semibold">Cena netto</th>
          <th class="font-semibold">Cena brutto</th>
          <th class="font-semibold">Stan</th>
          <th class="font-semibold flex flex-col">
            <span>Data utworzenia</span>
            <span class="text-[10px] text-blue-800 font-medium">Data modyfikacji</span>
          </th>
          <th class="font-semibold">Akcje</th>
        </tr>
      </thead>
      <tbody>
        <% if @products.present? %>
          <% @products.each do |product| %>
            <%= render partial: "storage/products/row", locals: { product: product } %>
          <% end %>
        <% else %>
          <tr class="my-14">
            <td colspan="8" class="text-gray-400 text-center pt-18">
              Brak produktów do wyświetlenia.
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%# Pagination Section %>
  <div class="px-2 py-4">
    <div class="mt-4 flex flex-col gap-3 justify-between">
      <%# Left side - Items count and per page selector %>
      <div class="flex items-center gap-4">
        <div class="text-sm text-gray-700">
          <%# Items count %>
          Pokazuję 
          <span class="font-medium"><%= @products.offset_value + 1 %></span>-<span class="font-medium"><%= @products.offset_value + @products.length %></span> z 
          <span class="font-medium"><%= @products.total_count %></span> pozycji
          <%# Per page selector %>
          <div class="dropdown dropdown-top ml-2">
            <button tabindex="0" class="btn btn-ghost btn-xs">
              <%= @per_page %>
              <%= lucide_icon("chevron-down", class: "h-4 w-4") %>
            </button>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-16">
              <% [20, 30, 50, 75, 100].each do |per_page| %>
                <li>
                  <%= link_to per_page, 
                    storage_products_path(page: 1, per_page: per_page), 
                    class: @per_page == per_page ? 'active' : '',
                    data: { turbo_frame: "products_frame" } %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex justify-end gap-2">
        <%# Previous page button %>
        <%= link_to storage_products_path(page: @products.prev_page, per_page: @per_page), 
          class: "inline-flex items-center px-3 py-2 border border-gray-300 text-sm font-medium rounded-md #{@products.prev_page ? 'text-gray-700 bg-white hover:bg-gray-50' : 'text-gray-400 bg-gray-50 cursor-not-allowed'}", 
          data: { turbo_frame: "products_frame" },
          onclick: @products.prev_page ? nil : "return false" do %>
          <%= lucide_icon("chevron-left", class: "h-5 w-5") %>
        <% end %>
        <%# Next page button %>
        <%= link_to storage_products_path(page: @products.next_page, per_page: @per_page), 
          class: "inline-flex items-center px-3 py-2 border border-gray-300 text-sm font-medium rounded-md #{@products.next_page ? 'text-gray-700 bg-white hover:bg-gray-50' : 'text-gray-400 bg-gray-50 cursor-not-allowed'}", 
          data: { turbo_frame: "products_frame" },
          onclick: @products.next_page ? nil : "return false" do %>
          <%= lucide_icon("chevron-right", class: "h-5 w-5") %>
        <% end %>
      </div>
    </div>
  </div>
</div>