<%= turbo_frame_tag dom_id(order, :payment) do %>
  <div>
    <div class="flex items-center gap-4">
      <span class="text-sm text-base-content/60">Zapłacono:</span>
      <div class="flex items-center gap-2">
        <%= form_with model: order, url: update_payment_order_path(order), method: :patch do |f| %>
          <div class="flex gap-1">
            <%= f.number_field :amount_paid, step: 0.01, min: 0, class: "input w-full input-sm" %>
            <%= f.submit "Zapisz", class: "btn btn-primary btn-sm" %>
            <%= link_to "Anuluj", order_path(order), class: "btn btn-sm" %>
            <%= button_tag name: "set_amount_paid", value: "full", class: "btn btn-success btn-sm" do %>
              <%= @order.total_price %>
            <% end %>
            <%= button_tag name: "set_amount_paid", value: "zero", class: "btn btn-error btn-sm" do %>
              0.0
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>