<%= turbo_frame_tag dom_id(order, :customer) do %>
  <%= form_with model: customer, url: order_customer_path(order), method: :patch do |f| %>
    <div class="mb-2">
      <%= f.label :login, "Login", class: "label text-sm" %>
      <%= f.text_field :login, class: "input w-full input-sm" %>
    </div>
    <div class="mb-2">
      <%= f.label :email, "E-mail", class: "label text-sm" %>
      <%= f.text_field :email, class: "input w-full input-sm" %>
    </div>
    <div class="mb-2">
      <%= f.label :phone, "Telefon", class: "label text-sm" %>
      <%= f.text_field :phone, class: "input w-full input-sm" %>
    </div>
    <div class="flex gap-2">
      <%= f.submit "Zapisz", class: "btn btn-primary btn-sm" %>
      <%= link_to "Anuluj", order_path(order), class: "btn btn-sm" %>
    </div>
  <% end %>
<% end %>