<tr class="font-semibold">
  <td>
    <%= link_to product.name, product_path(product), data: { turbo_frame: "_top" }, class: "hover:text-blue-500 hover:text-underline" %>
    <div class="text-xs text-gray-500">ID <%= product.id%> | SKU <%= product.sku%> | EAN <%= product.ean%></div>
  </td>
  <td><%= product.sku %></td>
  <td><%= product.ean %></td>
  <td><%= number_to_currency(product.nett_price, unit: "PLN", format: "%n %u") %></td>
  <td><%= number_to_currency(product.gross_price, unit: "PLN", format: "%n %u") %></td>
  <td>
    <div class="<%= (product.quantity || 0) > 0 ? 'text-normal' : 'text-red-500 font-semibold'  %>">
      <%= product.quantity || 0 %> szt.
    </div>
  </td>
  <td>
    <div><%= product.created_at.strftime('%d.%m.%Y %H:%M') %></div>
    <div class="text-xs text-blue-800"><%= product.updated_at.strftime('%d.%m.%Y %H:%M') %></div>
  </td>
  <td>
    <div class="flex gap-2">
      <%= link_to "Edit", edit_product_path(product), data: { turbo_frame: "_top" }, class: "btn btn-sm" %>
      <%= button_to "Destroy", product, method: :delete, class: "btn btn-error btn-sm", data: { turbo_confirm: "Are you sure?" } %>
    </div>
  </td>
</tr>