<% content_for :title, "Paragony" %>
<div role="tablist" class="tabs tabs-box border-b border-gray-500/30 rounded-none">
  <%= link_to invoices_path, 
        class: "tab #{current_page?(invoices_path) ? 'tab-active' : ''}" do %>
    <i class="fas fa-file-invoice mr-2"></i> Faktury
  <% end %>
  <%= link_to receipts_path, 
        class: "tab #{current_page?(receipts_path) ? 'tab-active' : ''}" do %>
    <i class="fas fa-file-invoice-dollar mr-2"></i> Paragony
  <% end %>
</div>
<%= render Ui::Layout::Container::DefaultComponent.new do %>
  <!-- Header -->
  <%= render Ui::Layout::Header::DefaultComponent.new(title: "Zarządzanie paragonami") %>
  <!-- Content -->
  <%= turbo_frame_tag "receipts_table" do %>
    <%= render "table" %>
  <% end %>
<% end %>