<%= turbo_frame_tag dom_id(pickup_point || CustomerPickupPoint.new) do %>
  <% if pickup_point.present? %>
    <div class="flex flex-col gap-4 p-4 rounded-md bg-white drop-shadow-md border border-neutral-200">
      <span class="font-bold">
        Odbiór w punkcie
      </span>
      <table>
        <tbody>
          <tr>
            <td>Nazwa:</td>
            <td><%= pickup_point&.name.presence || "..." %></td>
          </tr>
          <tr>
            <td>ID punktu:</td>
            <td><%= pickup_point&.point_id.presence || "..." %></td>
          </tr>
          <tr>
            <td>Adres:</td>
            <td><%= pickup_point&.address.presence || "..." %></td>
          </tr>
          <tr>
            <td>Kod i miasto:</td>
            <td><%= pickup_point&.postcode.presence || "..." %><%= pickup_point&.city.presence || " ..." %></td>
          </tr>
          <tr>
            <td>Kraj:</td>
            <td><%= pickup_point&.country.presence || "..." %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "Edytuj", edit_order_customer_pickup_point_path(@order, pickup_point), data: { turbo_frame: dom_id(pickup_point) }, class: "btn" %>
    </div>
  <% else %>
    <p>Adres nie jest dostępny.</p>
  <% end %>
<% end %>