<div class="p-6 space-y-4 w-full rounded-md bg-white drop-shadow-md border border-neutral-200 relative">
  <div class="dropdown dropdown-end absolute top-6 right-4">
    <div tabindex="0" role="button" class="btn btn-sm btn-outline m-1"><span>Akcje</span><%= lucide_icon("chevron-down", class: "w-3") %></div>
    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 p-2 shadow-sm">
      <li>
        <%= button_to @order, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "w-36 cursor-pointer" do %>
          <div class="flex gap-2 items-center">
            <%= lucide_icon("trash-2", class: "w-4") %>
            <span>Usuń zamówienie</span>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="flex justify-between items-start">
    <div>
      <h2 class="text-lg font-semibold">Informacje o zamówieniu</h2>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-12">
    <div class="flex flex-col divide-y divide-neutral-300">
      <div class="flex gap-4 py-4 items-center">
        <%= render(Order::PaymentInfoComponent.new(order: @order)) %>
      </div>
      <div class="px-2 py-3 text-sm">
        <%= render(Order::CustomerInfoComponent.new(order: @order))  %>
      </div>
      <div class="px-2 py-3 text-sm">
        <%= render(Order::OrderInfoComponent.new(order: @order)) %>
      </div>
      <div class="px-2 py-3 text-sm">
        <%= render(Order::ExtraFieldsInfoComponent.new(order: @order)) %>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <div>
        <table>
          <tr>
            <td class="w-42 flex gap-1"><%= lucide_icon("flag", class: "text-neutral-500 w-4") %><span>Status:</span></td>
            <td>
              <%= turbo_frame_tag dom_id(@order, :status) do %>
                <%= form_with(model: @order) do |form| %>
                  <div class="flex gap-2">
                    <%= form.select :status_id,
                  options_from_collection_for_select(@order_statuses, :id, :full_name, @order.status_id),
                  { prompt: "Wybierz status" },
                  class: "select" %>
                    <%= form.submit "Przenieś", class: "btn btn-primary" %>
                  </div>
                <% end %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
      <div>
        <table class="border-separate border-spacing-y-2">
          <tr>
            <td class="w-42">Paragon:</td>
            <td><button class="btn btn-xs">WYSTAW PARAGON</button></td>
          </tr>
          <tr>
            <td class="w-42">Faktura:</td>
            <td><button class="btn btn-xs">WYSTAW FAKTURĘ</button></td>
          </tr>
        </table>
      </div>
      <div>
        <table class="text-sm border-separate border-spacing-y-1">
          <tr>
            <td class="w-42">Data złożenia:</td>
            <td>04.05.2025 16:39</td>
          </tr>
          <tr>
            <td class="w-42">Data w statusie:</td>
            <td>04.05.2025 16:38</td>
          </tr>
          <tr>
            <td class="w-42">Stany magazynowe:</td>
            <td class="flex gap-2"><%= lucide_icon("check", class: "text-green-500") %><span class="text-green-500">Zrealizowany</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
