<div class="overflow-x-auto">
  <table class="min-w-full table-auto border-separate border-spacing-y-2">
    <thead>
      <tr class="text-left text-sm text-gray-500">
        <th></th>
        <th>ID PROD.</th>
        <th>NAZWA PRODUKTU</th>
        <th>ILOŚĆ</th>
        <th>CENA</th>
        <th>VAT</th>
        <th>WAGA</th>
        <th>DATA</th>
        <th>AKCJE</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_products.each do |op| %>
        <tr class="bg-white shadow rounded-lg text-sm text-gray-700">
          <td class="p-2">
            <%= lucide_icon('shopping-basket') %>
          </td>
          <td class="p-2 text-blue-600 hover:underline cursor-pointer"><%= link_to op.product.id, product_path(op.product.id) %></td>
          <td class="p-2">
            <%= op.product.name %>
            <span class="block text-xs text-gray-500">
              [EAN <%= op.product.ean %>] [SKU <%= op.product.sku %>]
            </span>
          </td>
          <td class="p-2"><%= op.quantity %></td>
          <td class="p-2"><%= op.product.gross_price %> PLN</td>
          <td class="p-2"><%= op.product.tax_rate %>%</td>
          <td class="p-2">1.3</td>
          <td class="p-2">07.05.2025<br>
            17:44</td>
          <td class="p-2 text-right">
            <%= button_to op, method: :delete, class: "btn btn-error", data: { turbo_confirm: "Are you sure?" } do %>
              <%= lucide_icon("trash-2", class: "inline w-4 h-4") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>