<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Optisale" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-base-300">
    <%= turbo_frame_tag "modal-frame" %>
    <main class="flex">
      <%= render partial: "layouts/sidebar" %>
      <div class="ml-59 min-h-screen h-full w-full relative bg-base-300">
        <div>
          <%= yield %>
        </div>
        <% if flash.any? %>
          <div class="toast toast-end transition transform duration-500 hidden"   
        data-controller="notification"
        data-notification-delay-value="6000"
        data-transition-enter-from="opacity-0 translate-x-6"
        data-transition-enter-to="opacity-100 translate-x-0"
        data-transition-leave-from="opacity-100 translate-x-0"
        data-transition-leave-to="opacity-0 translate-x-6"
        >
            <% if flash[:error].present? %>
              <div class="alert alert-error bg-error text-error-content px-6 py-4 shadow-lg">
                <i class="fas fa-exclamation-circle"></i>
                <span><%= flash[:error] %></span>
              </div>
            <% end %>
            <% if flash[:success].present? %>
              <div class="alert alert-success bg-success text-success-content px-6 py-4 shadow-lg">
                <i class="fas fa-check-circle"></i>
                <span><%= flash[:success] %></span>
              </div>
            <% end %>
            <% if flash[:notice].present? %>
              <div class="alert alert-info bg-info text-info-content px-6 py-4 shadow-lg">
                <i class="fas fa-info-circle"></i>
                <span><%= flash[:notice] %></span>
              </div>
            <% end %>
            <% if flash[:alert].present? %>
              <div class="alert alert-error bg-error text-error-content px-6 py-4 shadow-lg">
                <i class="fas fa-exclamation-triangle"></i>
                <div><%= flash[:alert].html_safe %></div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </main>
  </body>
</html>
