<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) + " | Optisale - Prosty e-commerce" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= turbo_frame_tag "modal-frame" %>
    <main class="flex">
      <%= render partial: "layouts/sidebar" %>
      <div class="ml-58 h-dvh p-2 w-full">
        <div class="w-full h-full relative bg-base-200 border border-gray-500/50 rounded-sm overflow-y-auto pb-14">
          <%= yield %>
          <div id="flash-messages">
            <%= render "shared/flash_messages" %>
          </div>
        </div>
      </div>
    </main>
    <script>
      // Auto-blur dropdown links when clicked
      document.addEventListener('click', function(e) {
        if (e.target.closest('.dropdown-content a, .dropdown-content button')) {
          document.activeElement.blur();
        }
      });
    </script>
  </body>
</html>
